.tooltipWrapper {
    display: inline-flex;
}

.tooltipTip {
    position: fixed;
    border-radius: 6px;
    padding: 8px 14px;
    color: #fff;
    background: #111;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
    z-index: 1000001;
    /* Above almost everything */
    white-space: nowrap;
    pointer-events: none;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.2s ease-out;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, 4px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

/* Tooltip arrows */
.tooltipTip::before {
    content: "";
    position: absolute;
    border: 6px solid transparent;
}

/* Positional arrows */

.tooltipTip.top::before {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top-color: #111;
}

/* Bottom position */
.tooltipTip.bottom::before {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-color: #111;
}

/* Left position */
.tooltipTip.left::before {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-left-color: #111;
}

/* Right position */
.tooltipTip.right::before {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-right-color: #111;
}